<h1>Welcome my website</h1>
<p></p>
<h1>Homework</h1>
<p></p>
<h2>Pch 1</h2>
<p></p>
<p>Pch1 1、Introduction</p>
<p><span data-contrast="none"><span data-ccp-parastyle="heading 3"><span color="#ff6600"></span></span></span></p>
<p><span data-contrast="none">原文:This lesson will cover the basics of PC </span><span data-contrast="none">Hardware.</span><span data-contrast="none"> First, you will learn the various parts of both desktop and laptop </span><span data-contrast="none">computers.</span><span data-contrast="none"> Next, you will discover basic terms that are associated with computers, such as hardware, software, and </span><span data-contrast="none">firmware.</span><span data-contrast="none"> You will learn the most basic functions of a computer: input, output, storage, and </span><span data-contrast="none">processing.</span><span data-contrast="none"> Next, you will explore various input and output interfaces on the computer and the associated </span><span data-contrast="none">cables.</span><span data-contrast="none"> Finally, you will review connections between common peripherals and discuss the standard </span><span data-contrast="none">ports.</span></p>
<p><span data-ccp-props='{"201341983":1,"335559740":360}'> </span><span data-ccp-props='{"201341983":1,"335559740":360}'>                                        <img alt="" height="155" src="/images/201703101444414490808544.jpg" width="207"/></span></p>
<p><span class="TextRun SCXW14378781 BCX0" data-contrast="none" lang="ZH-TW" xml:lang="ZH-TW"><span class="NormalTextRun SCXW14378781 BCX0">翻譯:本課將介紹硬<span>體</span>的基礎知識。首先，您將學習台式計算機和攜帶式計算機的各個部分。接下來，您將發現與計算機關聯的基本術語，例如<span style="color: #ff0000;">硬體，軟體和韌體</span>。您將學習計算機的最<span style="color: #ff0000;">基本功能：輸入，輸出，存儲和處理</span>。接下來，您將探索計算機上的<span style="color: #ff0000;">各種輸入和輸出接口以及相關的電纜</span>。最後，您將回顧通用外設之間的連接並討論標準端口。</span></span><span class="TextRun SCXW14378781 BCX0" data-contrast="none" lang="ZH-TW" xml:lang="ZH-TW"><span class="NormalTextRun SCXW14378781 BCX0"> </span></span></p>
<p><br/><br/><br/><br/><span>Pch1 </span>2、Functions of Computers</p>
<p></p>
<p id="N10690" lang="">原文:What makes a computer a computer? Does a computer have to have certain pieces to be considered a computer? Consider the computers of the 1980s: they all included a display screen, a keyboard, and a processing unit. Over time, the computers have evolved into devices that do not look like a “typical” computer. Consider the iPhone or Android tablet, where the method of input relies on touch, without the use of a separate keyboard. How about the calculator watch displayed below; is it a computer?</p>
<p><span class="imagewrap"><span class="image">                                                     </span></span></p>
<p id="N1069E" lang="">Regardless of the<span> </span><a aria-describedby="N106A2" class="extra" id=""></a>form factor<span> </span>of the machine, four basic functions — input, output, storage, and processing — make a computer. Below is a display of how those functions work together.</p>
<div class="image shouldbeleft"></div>
<p id="N106AE" lang="">So, as we consider the history of computers and the future of computers, we must consider what is and what is not a computer. Obviously, our desktops and laptops are computers, since they perform the input, processing, output, and storage functions. But so also are our cellular phones and smartphones, since they perform all these functions. What about our televisions? Many of these are complex computers as well, since they take information from our input using the remote control, process the information, and return an output, such as an on-demand movie. Many of these televisions also store the information, such as your favorite channels or even the video content itself for later playback. Even some thermostats are computers, since they also perform these functions, such as the “smart thermostats,” like the NEST and other popular brands. Remember, the main determination of whether something is a computer or not relies on the functions it performs: does it perform input, processing, output, and storage? If so, then it is a computer.</p>
<p>翻譯:是什麼使計算機成為計算機？一台計算機是否必須具有某些部件才能視為計算機？考慮一下1980年代的計算機：它們都包括顯示屏，鍵盤和處理單元。隨著時間的流逝，計算機已經演變為看起來不像“典型”計算機的設備。考慮iPhone或Android平板電腦，其中輸入方法依靠觸摸，而不使用單獨的鍵盤。下面顯示的計算器手錶怎麼樣？是電腦嗎？ 不論機器的外形尺寸如何， <span style="color: #ff0000;">計算機都具有四個基本功能（輸入，輸出，存儲和處理）</span>。 因此，當我們考慮計算機的歷史和計算機的未來時，我們必須考慮什麼是計算機，什麼不是計算機。顯然，我們的<span style="color: #ff0000;">桌上型電腦和筆記<span>型</span>電腦是計算機，因為它們執行輸入，處理，輸出和存儲</span>功能。但是，由於我們的手機和智能手機執行所有這些功能，所以它們也是如此。那我們的電視呢？其中許多計算機也是複雜的計算機，因為它們使用遙控器從我們的輸入中獲取信息，處理信息並返回輸出，例如點播電影。這些電視中的許多電視也會存儲信息，例如您喜歡的頻道，甚至是視頻內容本身，以供以後播放。甚至某些恆溫器都是計算機，因為它們也執行這些功能，例如“智能恆溫器”，像NEST和其他熱門品牌一樣。記住，對某物是否是計算機的主要確定取決於它執行的功能：它執行輸入，處理，輸出和存儲嗎？如果是這樣，則它是一台計算機。</p>
<p><br/><br/><br/><span>Pch1 </span>3、Hardware</p>
<p></p>
<p lang="">原文:A computer system includes hardware, software, and firmware. To build a computer, we must first gather the required hardware. The hardware is the part of the computer that you can touch and feel. When most people see a typical computer, they understand that there are physical components to what they are using, such as the the hard metallic or plastic System unit, central processing unit (CPU), power supply, disk drives, and other essential components. Hardware is limited by its manufacture date and specifically by the motherboard installed. Depending on age and availability, some of the hardware items may be expensive to acquire, repair, or replace. For example, if the computer is running slower over time as you add newer software, it may be necessary to increase the amount of physical memory, called<span> </span><span class="term" lang="">RAM<span> </span></span>(random access memory), in the computer. In order to do this, the technician would need to purchase the correct size, speed, and style of memory according to the motherboard specifications and install it in the computer which will then enhance its ability to process information more quickly.</p>
<p id="N106A9" lang="">Computer hardware consists of the mechanical and electrical parts of the computer. Data flows through the motherboard in what is known as the system bus. External ports, which are discussed in more detail further in this lesson, allow peripheral devices to be connected to the system unit. Common ports are USB, serial, and parallel ports.</p>
<p id="N106AC" lang="">Peripheral devices consist of hardware attached to the system unit and are designated as input, output, or both. Traditional input device examples are the mouse and keyboard which are used to input data.</p>
<p lang=""><img alt="" height="164" src="/images/下載.jpg" width="308"/></p>
<p lang=""></p>
<p id="N106BD" lang="">Output devices consist of common items such as monitors, speakers, and printers. All of these devices are ways that the computer can give feedback to the user through either visual or auditory output.</p>
<p id="N106C0" lang="">Traditionally singular devices have evolved to become both input and output. Gaming Joysticks which provide feedback to the user through vibrations and of course the touch-screen display now serve as both.</p>
<p lang="">翻譯:<span>計算機系統硬<span>體</span>，軟體和韌體。要構建計算機，我們必須首先收集所需的硬<span>體。</span>硬<span>體</span>是您可以觸摸和感覺到的計算機的一部分。當大多數人看到一台典型的計算機時，他們就會知道所使用的是物理組件，例如，硬金屬或塑料系統單元，中央處理器（CPU），電源，磁盤驅動器和其他必要組件。硬<span>體</span>受製造日期限制，特別是受安裝的主板限制。根據使用年限和可用性，硬<span>體</span>項目的購置，維修或更換可能會很昂貴。例如，如果計算機隨著時間的推移運行速度變慢，而您添加了更新的軟體，則可能有必要增加物理內存量，稱為</span><span class="term" lang=""><span>計算機中的RAM</span></span><span>（隨機存取存儲器）。為此，技術人員需要根據主板規格購買正確的大小，速度和內存類型，然後將其安裝在計算機中，這將增強其更快地處理信息的能力。</span></p>
<p id="N106A9" lang=""><span><span>計算機硬<span>體</span>由計算機的機械和電氣部分組成。</span><span>數據以所謂的系統總線流經母板。</span><span>在本課程中將進一步詳細討論的外部端口允許將外圍設備連接到系統單元。</span><span>通用端口是USB，串行和並行端口。</span></span></p>
<p id="N106AC" lang=""><span><span>外圍設備由連接到系統單元的硬<span>體</span>組成，並被指定為輸入，輸出或兩者。</span><span>傳統的輸入設備示例是用於輸入數據的鼠標和鍵盤。</span></span></p>
<div actguid="d87f2cfb0a0001dc7a54c001a9301816" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2cfb0a0001dc7a54c001a9301816&amp;userGUID=3cace0760a0001dc03dfd1abb52265c4&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch01_lbd03">
<div class="activityhead">
<p id="N106BD" lang=""><span>輸出設備由通用項目組成，例如監視器，揚聲器和打印機。所有這些設備都是計算機可以通過視覺或聽覺輸出向用戶提供反饋的方式。</span></p>
<p id="N106C0" lang=""><span><span>傳統上，單個設備已演變為輸入和輸出。</span><span>通過振動向用戶提供反饋的遊戲操縱桿，當然觸摸屏顯示器現在兼用作兩者。</span></span></p>
</div>
<div class="activityhead"></div>
<p class="activityhead"><br/><span><span>Pch1 4、Software</span></span></p>
<p lang=""><span><span> </span></span></p>
<p lang=""><span><span></span></span></p>
原文:Software is completely intangible and cannot be physically touched. Software, in its purest form, is a series of 1s and 0s (bits) that make up the code that gives the computer its instructions on how to perform a certain task. While you may be able to touch the media on which the software is stored (like a CD or DVD), you cannot really touch the software code itself.
<p id="N10683" lang="">The most basic software that a computer requires is the operating system. There are numerous operating systems on the market today, including various versions of Microsoft Windows, Macintosh OS X, Linux, Android, and iOS, to name just a few. The operating system provides the standard methods for saving, retrieving, changing, printing, and transmitting information in the computer. Operating systems contain internal commands, which are programs that are built into the operating system to perform basic tasks such as file management (delete, copy, and rename files). Additionally, operating systems also contain external commands, which are added programs to complete more complicated functions, such as defragmentation of a hard drive or handling the remote control of another computer on the network.</p>
<p id="N10686" lang="">Finally, there are software programs called applications. These programs are used to create, store, modify, and view information that you create. Applications, such as Microsoft Office or Adobe Acrobat, allow you to read and create documents and presentations. Other applications, such as games and web browsers, may instead be used for entertainment.</p>
<div actguid="d87f2d010a0001dc0fcb10da8f216b52" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2d010a0001dc0fcb10da8f216b52&amp;userGUID=55bd0fab0a0001dc1f7d8469ccbc2ede&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch01_lbd05">
<div class="purposeType purposelearnbydoing" title="">翻譯:<span style="color: #ff0000;">軟體是完全無形的，不能被實際觸摸。</span>最純粹形式的<span style="color: #ff0000;">軟體是由一系列1和0（位）組成的代碼</span>，這些代碼向計算機提供有關如何<span style="color: #ff0000;">執行特定任務的指令</span>。雖然您可以觸摸<span>軟體</span>的介質（例如CD或DVD），但實際上不能觸摸<span>軟體</span>代碼本身。<br/><br/>計算機所需的最基本的<span>軟體</span>是操作系統。當今市場上有許多操作系統，其中包括Microsoft Windows，Macintosh OS X，Linux，Android和iOS的各種版本。操作系統提供了用於在計算機中保存，檢索，更改，打印和傳輸信息的標準方法。操作系統包含內部命令，這些內部命令是操作系統中內置的用於執行基本任務（例如文件管理（刪除，複製和重命名文件））的程序。此外，操作系統還包含外部命令，這些命令是添加的程序，以完成更複雜的功能，例如對<span style="color: #ff0000;">硬盤驅動器進行碎片整理或處理網絡上另一台計算機的遠程控制。</span><br/><br/>最後，有稱為應用程序的<span>軟體</span>程序。這些程序用於創建，存儲，修改和查看您創建的信息。諸如Microsoft Office或Adobe Acrobat之類的應用程序允許您閱讀和創建文檔和演示文稿。可以將其他應用程序（例如游戲和Web瀏覽器）用於娛樂。<br/><br/></div>
<br/><span data-contrast="none"><span data-ccp-parastyle="heading 3"><span color="#ff6600">Pch1 </span></span></span>5、Firmware
<p></p>
<p id="N10690" lang="">原文:Firmware is a combination of hardware and software, often called “software on a chip.” Firmware allows control of the device to which the chip is connected. A firmware chip contains specialized software and is often attached to motherboards, optical drives (such as CD, DVD, or Blu-ray), mass storage devices, and other specialized hardware.</p>
<p id="N10693" lang="">In older generations of firmware, the firmware was not upgradable unless you replaced the physical chip, but in recent years firmware has been designed to be “flashable.” This means that the chip can be upgraded if the software is outdated or has a programming error. This firmware “flash” replaces the older software on the chip with the latest version, improving performance or enhancing security.</p>
<p id="N10696" lang="">The most common type of firmware found in a computer is called the BIOS (basic input/output system), which provides the computer with the most basic of tasks before the operating system is even loaded. Without the BIOS, the computer would be rather useless, as it wouldn’t even be able to read the hard drive and load the operating system. Firmware is persistent: it remains on the chip even after the power is removed, unlike temporary storage (such as RAM).</p>
<p lang="">翻譯:</p>
<p id="N10690" lang=""><span><span style="color: #ff0000;">韌體是硬體和軟體的組合</span>，通常稱為“晶片上的軟體”。韌體允許控制芯片所連接的設備。韌體晶片包含專用軟體，通常連接到主板，光碟驅動器（例如CD，DVD或藍光），大容量存儲設備和其他專用硬<span>體</span>。</span></p>
<p id="N10693" lang=""><span><span>在較早版本的韌體中，除非更換了物理芯片，否則韌體無法升級，但是近年來，韌體被設計為“可刷新的”。</span><span>這意味著，如果軟體過時或出現編程錯誤，則可以升級芯片。<span style="color: #ff0000;">韌體</span></span><span style="color: #ff0000;">“閃存”用最新版本替換了芯片上的舊軟體，從而提高了性能或增強了安全性。</span></span></p>
<p id="N10696" lang=""><span><span>計算機中最常見的<span style="color: #ff0000;">韌體類型稱為BIOS（基本輸入/輸出系統）</span>，BIOS甚至在加載操作系統之前就為計算機提供了最基本的任務。</span><span>沒有BIOS，計算機將變得毫無用處，因為它甚至無法讀取硬盤驅動器並加載操作系統。<span style="color: #ff0000;">韌體</span></span><span style="color: #ff0000;">具有持久性：與臨時存儲（例如RAM）不同，韌體即使在斷電後仍保留在芯片上。</span></span></p>
<br/><span data-contrast="none"><span data-ccp-parastyle="heading 3"><span color="#ff6600">Pch1 </span></span></span>6、Componentization Standardization
<p></p>
<p>原文:Componentization is the process of breaking down large and complex items into simple, reusable, and interchangeable pieces. For many years, computer software and hardware were made by individual companies building things that only worked for a single system. For example, if IBM made a network card, it would not work in a Compaq or Dell computer. Over the years, hardware developers realized that if they could agree to a set of standards, they could create components that could be built to work together using standard interfaces, which saves time, money, and complexity. This same concept is now being used in the software world under object-oriented programming — a standardized method of programming.</p>
<p id="N10683" lang="">Standardization allows for a set of rules that everyone can follow so that hardware is interoperable and software is interoperable. This increases the ability to have componentization of hardware and software, since the input and output created are standardized. For example, web pages are coded in HTML (HyperText Markup Language), which all web browsers understand. Therefore, the user can use any web browser and still get the content they are interested in viewing because of the standardization of the system.</p>
<p lang="">翻譯:<span style="color: #ff0000;">組件</span><span><span style="color: #ff0000;">化是將大型和復雜項目分解為簡單，可重用和可互換的部分的過程。</span>多年來，計算機軟件和硬件是由獨立的公司製造的，這些公司只能在單個系統上工作。例如，如果IBM製作了網卡，則它不能在Compaq或Dell計算機中工作。多年以來，硬件開發人員意識到，如果他們同意一套標準，他們可以創建可以使用標準接口構建為可以協同工作的組件，從而節省了時間，金錢和復雜性。現在，在面向對象的程序設計（一種標準化的程序設計方法）下的軟件世界中使用了相同的概念。</span></p>
<p id="N10683" lang=""><span><span style="color: #ff0000;">標準化允許每個人都可以遵循一組規則，以便硬件可互操作，軟件可互操作。</span><span>由於創建的輸入和輸出是標準化的，因此這提高了對硬件和軟件進行組件化的能力。</span><span>例如，網頁以HTML（超文本標記語言）編碼，所有網絡瀏覽器都可以理解。</span><span>因此，由於系統的標準化，用戶可以使用任何Web瀏覽器，並且仍然可以獲得他們感興趣的內容。</span></span></p>
<br/><span data-contrast="none"><span data-ccp-parastyle="heading 3"><span color="#ff6600">Pch1 7、</span></span></span>Connection Interfaces and Cables
<p></p>
<p>原文:When looking at a customer’s personal computer, you must be able to easily identify the various components that make up the computer by sight. As you look at the image of the computer, you notice the various parts, such as the CD/DVD drive and the memory card reader bay. Both of these components would be classified as part of the storage subsystem. The headphone jack is used for audio output, while the microphone jack is used for audio input. The USB and FireWire ports are used for both input and output, as well as storage, depending on the device that is connected to the port. For example, if we connect a printer to the USB port, it would be used for output, but if we instead connected a mouse to the USB port, it would be used for input.</p>
<p>翻譯:<span>查看客戶的個人計算機時，您必須能夠通過視線輕鬆識別組成計算機的各種組件。</span><span>當您查看計算機的圖像時，會注意到各個部分，例如CD / DVD驅動器和存儲卡讀取器托架。</span><span>這兩個組件都將歸類為存儲子系統的一部分。</span><span>耳機插孔用於音頻輸出，而麥克風插孔用於音頻輸入。</span><span>USB和FireWire端口用於輸入和輸出以及存儲，具體取決於連接到端口的設備。</span><span>例如，如果我們將打印機連接到USB端口，它將用於輸出，但是如果我們將鼠標連接到USB端口，則它將用於輸入。</span></p>
<br/><span data-contrast="none"><span data-ccp-parastyle="heading 3"><span color="#ff6600">Pch1 8、</span></span></span>External Components of the Desktop System Unit
<p></p>
<p>原文:<span>The lab activity below is designed to help you locate and understand the purpose of the various bays and ports on a desktop PC system unit. To identify components, move your mouse pointer over the name of the component or the image. Then be sure to click on each component to see a detailed view. In the detailed view, you will be able to examine the cables of various peripherals. You also will be able to see the most common bays and the way peripherals fit into them.</span></p>
<p><span>翻譯:下面的實驗活動旨在幫助您查找和了解台式PC系統單元上各種托架和端口的用途。<span><span style="color: #ff0000;">要識別組件，請將鼠標指針移到組件或圖像的名稱上</span>。</span><span>然後，請確保單擊每個組件以查看詳細視圖。</span><span>在詳細視圖中，您將能夠檢查各種外圍設備的電纜。</span><span>您還將能夠看到最常見的托架以及外圍設備裝入它們的方式</span></span></p>
<br/><span data-contrast="none"><span data-ccp-parastyle="heading 3"><span color="#ff6600">Pch1 9、</span></span></span>Connections Between Common Peripherals and Standard Ports
<div class="contentContain">
<p id="N10688" lang="">The peripherals connect to the computer via standard ports. Ports allow for information to flow into or out of the computer as part of the input and output subsystems. External devices, such as keyboards, mice, printers, scanners, storage devices, monitors, and others can connect to the computer through various types of cables, which connect to specific ports. On most modern systems, this has been reduced down to a common, standard interface, the universal serial bus port (USB port). Older systems have various ports for various functions, which are now referred to as legacy ports, such as PS/2, serial, and parallel ports. They were difficult to configure and required hardware resources to be dedicated to them, such as interrupt requests, direct memory access, and specific I/O (input/output) port addresses. In USB, this is all handled by the operating system automatically. This makes hardware conflicts rare in current systems. Many customers will still have computers with legacy ports. So, it is important to understand multiple ports and connections.</p>
<p lang=""><img alt="" height="197" src="/images/51555.jpg" width="256"/></p>
<p lang="">翻譯:<span>外圍設備通過標準端口連接到計算機。</span><span>端口允許信息作為輸入和輸出子系統的一部分流入或流出計算機。</span><span>外部設備（例如鍵盤，滑鼠，打印機，掃描器，存儲設備，顯示器和其他設備）可以通過各種類型的電纜連接到計算機，這些電纜連接到特定的端口。</span><span>在大多數現代系統上，這已簡化為通用的標準接口，即通用串行總線端口（USB端口）。</span><span>較舊的系統具有用於各種功能的各種端口，這些端口現在稱為傳統端口，例如PS / 2，串行和並行端口。</span><span>它們很難配置，<span style="color: #ff0000;">並且需要專用於它們的硬件資源，例如中斷請求，直接內存訪問和特定的I / O（輸入/輸出）端口地址。</span></span><span style="color: #ff0000;">在USB中，這全部由操作系統自動處理。</span><span><span style="color: #ff0000;">這使得在當前系統中很少發生硬件衝突</span>。</span><span>許多客戶仍將擁有帶有舊端口的計算機。</span><span>因此，了解多個端口和連接很重要。</span></p>
<p lang=""><span></span></p>
<p lang=""><span>Pch1 10、USB and PS/2</span></p>
<p lang=""><span></span></p>
<p lang=""><span>原文1:</span></p>
<div class="contentContain">
<div class="section" id="N10688">
<div class="sectionContain">
<p id="N1068F" lang=""><span style="color: #ff0000;">USB</span> :The<span> </span><span class="term" lang="">universal serial bus (USB)<span> </span></span>has replaced many of the external input and output ports on modern computers. In fact, USB can connect virtually any device to a computer, in modern devices.</p>
<p id="N106A3" lang="">Things such as mice and keyboards, which used to use PS/2 or serial ports, now use USB. Things like printers and scanners, which once used parallel or SCSI ports, now use USB as well. Small computer system interface (SCSI) is a set of parallel interface standards developed by the American National Standards Institute (ANSI) for attaching printers, disk drives, scanners and other peripherals to computers. SCSI (pronounced "skuzzy") is supported by all major operating systems. USB began with version 1.1, which provided two speeds of operations: low-speed (1.5 Mbps for input devices such as mice/keyboards) and full-speed (12 Mbps for other devices, such as webcams, digital cameras, scanners, and printers). USB 2.0 further increased speed to what is known as high-speed or hi-speed (480 Mbps), allowing for USB to provide faster access to external storage devices such as hard drives, helping to replace SCSI and FireWire ports. USB 3.0, the current version, is known as superspeed, because it provides up to 5 Gbps of bandwidth for very fast access to external devices and can be identified by the blue color. Newer versions of USB are backward compatible with older versions, but you should not connect different versions of USB on the same port, as this slows the port down to the lowest version. For example, if you plug in a four-port USB hub to a USB 3.0 port, but then connect a USB 1.1 mouse to the hub, the entire four-port hub will now run at a maximum speed of 12 Mbps (USB 1.1 speeds). Each USB port can be daisy-chained to provide up to 127 devices per port, using USB hubs.</p>
<p id="N106A6" lang="">USB cables should be kept under three meters (approximately nine feet) in length for USB 1.1 and 3.0. For the USB 2.0 variant, you can use cables up to five meters (approximately 15 feet) without issues. If you use cables longer than the recommended length, you may get errors in your input/output over USB, so it is best to keep the USB cables short. If you need a longer cable run, you must use a hub as a repeater to help boost the power signal over the USB cable. There are two types of hubs: self-powered and bus-powered. Self-powered hubs have their own power adapter and connect to the wall outlet to provide power to the hub. Bus-powered are instead powered solely from the source USB port that they are connected to on the computer. This provides minimal amperage for the devices connected to the USB hub that can cause issues when connecting multiple hubs to each other. For connection of multiple hubs, it is best practice to use self-powered hubs. Each USB port can support up to 127 different devices in the chain, with the root hub for the computer having two ports directly connected to the motherboard. If you need more USB ports, you can do this by adding hubs (self-powered or bus-powered), using motherboard USB header cables, or adding expansion cards that contain more USB ports.</p>
<p lang=""><img alt="" height="142" src="/images/5646+.jpg" width="355"/></p>
<p lang="">翻譯1:</p>
<div class="contentContain">
<div class="section" id="N10688">
<div class="sectionContain">
<p id="N1068F" lang=""><span><span>該</span></span><span class="term" lang=""><span><span>通用串行總線（USB）</span></span></span><span><span>已經取代了許多關於現代計算機外部輸入和輸出端口。</span><span>實際上，在現代設備中，USB幾乎可以將任何設備連接到計算機。</span></span></p>
<p id="N106A3" lang=""><span><span><span style="color: #ff0000;">鼠標和鍵盤等以前使用PS / 2或串行端口的設備現在使用USB。</span></span><span>曾經使用並行或SCSI端口的打印機和掃描儀之類的東西現在也使用USB。</span><span>小型計算機系統接口（SCSI）是由美國國家標準協會（ANSI）開發的一組並行接口標準，用於將打印機，磁盤驅動器，掃描儀和其他外圍設備連接到計算機。</span><span>所有主要操作系統都支持SCSI（讀作“ skuzzy”）。</span><span style="color: #ff0000;">USB從版本1.1開始，提供兩種運行速度：低速（對於鼠標/鍵盤等輸入設備為1.5 Mbps）和全速（對於網絡攝像頭，數碼相機，掃描儀和打印機等其他設備為12 Mbps） ）。</span><span><span style="color: #ff0000;">USB 2.0將速度進一步提高到所謂的高速或高速（480 Mbps）</span>，</span><span>允許USB提供對硬盤驅動器等外部存儲設備的更快訪問，從而有助於替換SCSI和FireWire端口。</span><span><span style="color: #ff0000;">當前版本的USB 3.0被稱為超高速，因為它提供高達5 Gbps的帶寬</span>，可以非常快速地訪問外部設備，並且可以通過<span style="color: #ff0000;">藍色識別</span>。</span><span>較新版本的USB向後兼容較舊版本的USB，但是您不應在同一端口上連接不同版本的USB，因為這會將端口速度降低到最低版本。</span><span>例如，如果將四端口USB集線器插入USB 3.0端口，然後將USB 1.1鼠標連接到集線器，則整個四端口集線器現在將以12 Mbps的最大速度運行（USB 1.1速度）。</span><span style="color: #ff0000;">每個USB端口都可以使用USB集線器進行菊花鏈連接，以每個端口提供多達127個設備。</span></span></p>
<p id="N106A6" lang=""><span><span><span style="color: #ff0000;">對於USB 1.1和3.0，USB電纜的長度應保持在三米（約9英尺）以下</span>。</span><span>對於USB 2.0版本，您可以使用最長5米（約15英尺）的電纜而不會出現問題。</span><span>如果使用的電纜長度超過建議的長度，則通過USB進行的輸入/輸出可能會出現錯誤，因此最好使USB電纜的長度短。</span><span>如果需要較長的電纜，則必須使用集線器作為中繼器，以幫助增強USB電纜上的電源信號。</span><span>集線器有兩種類型：自供電和總線供電。</span><span>自供電的集線器具有自己的電源適配器，並連接至壁裝電源插座，以為集線器供電。</span><span>總線供電僅由它們在計算機上連接的源USB端口供電。</span><span>這為連接到USB集線器的設備提供了最小的電流強度，當將多個集線器相互連接時會引起問題。</span><span>對於連接多個集線器，最佳做法是使用自供電集線器。</span><span>每個USB端口可在鏈中最多支持127個不同的設備，計算機的根集線器具有直接連接到主板的兩個端口。</span><span>如果需要更多USB端口，則可以通過添加集線器（自供電或總線供電），使用主板USB接頭連接線或添加包含更多USB端口的擴展卡來實現。</span><span>計算機的根集線器有兩個直接連接到主板的端口。</span><span>如果需要更多USB端口，則可以通過添加集線器（自供電或總線供電），使用主板USB接頭連接線或添加包含更多USB端口的擴展卡來實現。</span><span>計算機的根集線器有兩個直接連接到主板的端口。</span><span>如果需要更多USB端口，則可以通過添加集線器（自供電或總線供電），使用主板USB接頭連接線或添加包含更多USB端口的擴展卡來實現。</span></span></p>
<p id="N106C0" lang="">原文2:</p>
<p lang=""><span><span style="color: #ff0000;">PS/2</span>:</span><span>PS/2</span> ports, also known as mini-DIN ports, were commonly used for keyboards and mice until the past decade. Recently, these ports have been replaced by USB in most machines. These ports, though, are color-coded for the device which they are intended to be used with. The keyboard port is colored purple, and the mouse port is colored green. Even though these ports look identical, they are not interchangeable. If you plug a mouse into the keyboard port, it simply won’t work. Additionally, unlike USB, these ports are not hot-swappable. Instead, you must restart the machine after plugging the device in for the computer to recognize the new mouse or keyboard.</p>
<p lang=""><img alt="" height="188" src="/images/1wd.jpg" width="268"/></p>
<p lang="">翻譯2<span style="color: #ff0000;">:</span><span><span style="color: #ff0000;">PS / 2端口，也稱為mini-DIN端口，在過去十年中一直廣泛用於鍵盤和滑鼠</span>。</span><span>最近，在大多數機器中，這些端口已被USB取代。</span><span>但是，這些端口已針對要使用的設備進行了顏色編碼。</span><span>鍵盤端口為紫色，鼠標端口為綠色。</span><span>即使這些端口看起來相同，也不能互換。</span><span>如果將鼠標插入鍵盤端口，則根本無法使用。</span><span>此外，與USB不同，這些端口不可熱插拔。</span><span>而是必須在插入設備後重新啟動機器，計算機才能識別新的鼠標或鍵盤。</span></p>
<p lang="">Pch1 11、SCSI and FireWire</p>
<p lang=""></p>
<p lang="">原文1:</p>
<p id="N10687" lang=""><span><span style="color: #ff0000;">FireWire</span>:</span><span>FireWire</span> was originally developed and made popular by Apple as a challenger to USB and a replacement for SCSI. FireWire is a high-speed, bidirectional, serial transmission port used to connect PCs to each other, or devices to PCs. It was introduced during the days of USB 1.1 as a faster alternative, since USB 1.1 had a maximum speed of 12 Mbps and FireWire has a maximum speed of 400 Mbps under IEEE 1394a (FireWire 400) and 800 Mbps under IEEE 1394b (Firewire 800). Common uses for FireWire were to connect to external storage devices and digital media devices, such as video cameras. Most FireWire devices have two FireWire ports to allow for daisy-chaining of the devices, which supports up to 16 devices per FireWire port without any degradation. FireWire remains popular with Mac OS X, but has lost much of its popularity with the introduction of USB 3.0, since the speed is much quicker with USB 3.0.</p>
<p lang="">翻譯:<span><span style="color: #ff0000;">FireWire最初是由Apple開發並流行為USB的挑戰者和SCSI的替代品</span>。</span><span>FireWire是一個<span style="color: #ff0000;">高速雙向串行傳輸端口</span>，用於將PC彼此連接，或將設備連接至PC。</span><span>由於USB 1.1的最高速度為12 Mbps，而FireWire在IEEE 1394a（FireWire 400）下為400 Mbps，在IEEE 1394b（Firewire 800）下為800 Mbps，因此它是USB 1.1的最快替代產品。 。</span><span>FireWire的常見用途是連接到外部存儲設備和數字媒體設備，例如攝像機。</span><span>大<span style="color: #ff0000;">多數FireWire設備都有兩個FireWi</span></span><span><span style="color: #ff0000;">re端口，以實現設備的菊花鏈連接，每個FireWire端口最多可支持16個設備，而不會降低性能。</span></span></p>
<p lang=""><span><span></span></span>原文2:</p>
<p lang=""><span style="color: #ff0000;">SCSI</span>:<span>SCSI stands for small computer systems interface, and is a legacy type of connector. It is used to connect hard disk drives, tape drives, ZIP drives, JAZ drives, scanners, optical drives (CD/DVD), and printers to a computer both internally and externally. SCSI is found mainly in servers for hard disk drives and tape drives, but was sometimes found in older workstations in the 1990s. SCSI supports daisy-chaining and was the precursor to FireWire. SCSI can be narrow (supporting up to seven devices on a single port) or wide (supporting up to 15 devices on a single port). SCSI also requires that a unique ID be assigned to each device in the chain, so the computer knows which device is which. This is accomplished using either a </span><a aria-describedby="N106A7" class="extra" id=""></a>DIP switch<span>or jumper that assigns a unique ID of 0-15 (for wide), or 0-7 (for narrow). Finally, each chain must have a termination plug to signify the end of the SCSI chain. SCSI chains can contain many devices of mixed speeds, but this causes the whole “chain” to default to the slowest device. Speed for SCSI ranges from 10 Mbps to 320 Mbps. Since the advent of FireWire, SCSI has lost popularity as an external port for storage devices. Internally, SCSI has been replaced by the SATA[KK1] connector.</span></p>
<p lang="">翻譯:<span>S<span style="color: #ff0000;">CSI代表小型計算機系統接口，並且是舊版連接器</span>。它用於將硬盤驅動器，磁帶驅動器，ZIP驅動器，JAZ驅動器，掃描儀，光碟驅動器（CD / DVD）和打印機內部和外部連接到計算機。SCSI主要在用於硬盤驅動器和磁帶驅動器的服務器中找到，但有時在1990年代的較早的工作站中也可以找到。SCSI支持菊花鏈，並且是FireWire的前身。SCSI可以很窄（在單個端口上最多支持七個設備）或很寬（在單個端口上最多支持15個設備）。SCSI還要求將唯一的ID分配給鏈中的每個設備，以便計算機知道哪個設備是哪個設備。使用<a aria-describedby="N106A7" class="extra" id=""></a>DIP開關即可完成此 </span><a aria-describedby="N106A7" class="extra" id=""></a><span><span>操作</span></span><span><span><span> </span>或為唯一ID分配0-15（寬）或0-7（窄）的跳線。</span><span>最後，每個鏈必須有一個端接插頭以表示SCSI鏈的末端。</span><span><span style="color: #ff0000;">SCSI鏈可能包含許多速度混合的設備，但這會導致整個“鏈”默認為最慢的設備</span>。</span><span>SCSI的速度範圍從10 Mbps到320 Mbps。</span><span>自FireWire出現以來，SCSI作為存儲設備的外部端口已不再流行。</span><span style="color: #ff0000;">在內部，SCSI已由SATA [KK1]連接器取代。</span></span></p>
</div>
</div>
</div>
</div>
</div>
</div>
<p lang=""><span></span>Pch1 12、Serial and Parallel Ports</p>
<p lang=""><span></span>原文1:</p>
<p lang=""><span><span style="color: #ff0000;">Serial ports</span>:Serial ports, also known as COM or RS-232 ports, were used heavily in the 1980s and 1990s for serial communication as input/output ports. They were often used for external modems, mice, trackballs, touchpads, plotters, label printers, dot-matrix printers, PDA (Palm Pilot) docking stations, digital cameras, and PC-to-PC connections. USB has replaced serial ports for all of these uses in modern computers, but some people still have a need for a serial port. If your computer doesn’t have a serial port (which is very common in modern machines), you can add one using an expansion card or a USB to serial adapter. Serial ports come in two varieties: DB-25 (containing 25 pins) and DB-9 (containing nine pins). The DB-9 variety is the most common in use. Serial ports are generally slow, since they send data one bit at a time over the wire. There is no standard serial cable pinout; instead, they are created for the application they are used for, such as a null-modem cable to connect two computers directly, or a modem cable to connect the computer to an external modem. The most common variety of serial cable in use today is the CISCO rollover cable, which has a nine-pin serial port on one end and an RJ-45 connector (like a network cable) on the other end. This cable is used to connect a computer to a CISCO router or switch for configuration tasks.</span></p>
<p lang=""><span><img alt="" height="185" src="/images/edwe.jpg" width="272"/></span></p>
<p lang=""><span>翻譯:<span style="color: #ff0000;">序列埠，也稱為COM或RS-232端口</span>，在1980年代和1990年代被大量用於串行通信，<span style="color: #ff0000;">作為輸入/輸出端口。</span><span>它們通常用於外部調製解調器，滑鼠，軌跡球，觸摸板，繪圖儀，標籤打印機，點矩陣打印機，PDA（Palm Pilot）擴展塢，數碼相機以及PC到PC的連接。</span><span>USB已取代了現代計算機中所有這些用途的串行端口，但是有些人仍然需要串行端口。</span><span>如果您的計算機沒有串行端口（這在現代計算機中很常見），則可以使用擴展卡或USB到串行適配器添加一個。</span><span>串行端口有兩種：DB-25（包含25個引腳）和DB-9（包含9個引腳）。</span><span>DB-9品種是最常用的品種。</span><span>串口通常很慢，</span><span>因為它們一次通過導線發送數據。</span><span>沒有標準的串行電纜引出線。</span><span>而是為它們所使用的應用程序創建它們，例如直接連接兩台計算機的零調製解調器電纜，或將計算機連接到外部調製解調器的調製解調器電纜。</span><span>當今使用的最常見的串行電纜是CISCO翻轉電纜，其一端有一個9針串行端口，而另一端有一個RJ-45連接器（如網絡電纜）。</span><span>該電纜用於將計算機連接到CISCO路由器或交換機以執行配置任務。</span><span>或調製解調器電纜將計算機連接到外部調製解調器。</span><span>當今使用的最常見的串行電纜是CISCO翻轉電纜，其一端有一個9針串行端口，另一端有一個RJ-45連接器（如網絡電纜）。</span><span>該電纜用於將計算機連接到CISCO路由器或交換機以執行配置任務。</span><span>或調製解調器電纜將計算機連接到外部調製解調器。</span><span>當今使用的最常見的串行電纜是CISCO翻轉電纜<span style="color: #ff0000;">，其一端有一個9針串行端口，而另一端有一個RJ-45連接器（如網絡電纜）。</span></span><span><span style="color: #ff0000;">該電纜用於將計算機連接到CISCO路由器或交換機以執行配置任務。</span></span></span></p>
</div>
</div>
</div>
<p>原文2:</p>
<p><span><span style="color: #ff0000;">Parallel ports</span>:Parallel ports, also known as LPT (line printer terminal) ports, were used heavily in the 1980s and 1990s for parallel communication as input/output ports. They were often used for printers and scanners. USB has replaced parallel ports for all of these uses in modern computers, and few people will still have a need for a parallel port in contemporary computing. If your computer doesn’t have a parallel port (which is very common in modern machines), you could add one using an expansion card or a USB to parallel adapter. Parallel ports come in a standard DB-25 (containing 25 pins) cable. Other varieties of cables exist, including a DB-25 to Centronics 36-pin cable (common with printers), DB-25 to DB-25 cable (common with switchboxes), and DB-25 to DB-25 with the transmit/receive pins reversed (common for computer to computer connections for data transfer). Parallel ports are generally faster than serial ports, since they send data in parallel with eight bits at a time going over the wire. Parallel ports can be configured as output only or bidirectional ports. The ports are also configured as EPP (enhanced parallel port), ECP (enhanced capabilities port), and EPP/ECP. Under EPP, the port uses interrupt request (IRQ) and I/O addresses for fastest speeds. In ECP, the port can support daisy-chaining of devices and uses IRQ, I/O address, and DMA channels, and is considered resource hungry. EPP/ECP combines both modes into a single configuration, allowing for maximum compatibility. Parallel ports transmit data at up to two Mbps and receive data at 500 Kbps, which is very slow by today’s standards.</span></p>
<p><span>翻譯:<span style="color: #ff0000;">並列埠，也稱為LPT（行式打印機終端）端口</span>，在1980年代和1990年代大量用於並行通信，作為輸入/輸出端口。<span>它們通常用於打印機和掃描儀。</span><span>USB已經取代了並行端口，可用於現代計算機中的所有這些用途，而當代計算機中仍然很少有人需要並行端口。</span><span>如果您的計算機沒有並行端口（這在現代計算機中很常見），則可以使用擴展卡或USB到並行適配器添加一個。</span><span>並行端口採用標準的DB-25（包含25針）電纜。</span><span>還存在其他各種電纜，包括DB-25至Centronics 36針電纜（與打印機共用），DB-25至DB-25電纜（與配電箱共用），</span><span>和DB-25到DB-25，發射/接收引腳顛倒了（計算機到計算機的連接通常用於數據傳輸）。</span><span style="color: #ff0000;">並行端口通常比串行端口快，因為並行端口一次通過8位並行發送數據。</span><span><span style="color: #ff0000;">並行端口可以配置為僅輸出端口或雙向端口</span>。</span><span>這些端口還配置為EPP（增強型並行端口），ECP（增強功能端口）和EPP / ECP。</span><span>在EPP下，端口使用中斷請求（IRQ）和I / O地址以獲得最快的速度。</span><span>在ECP中，端口可以支持設備的菊花鏈連接，並使用IRQ，I / O地址和DMA通道，並且被認為是資源匱乏。</span><span style="color: #ff0000;">EPP / ECP將兩種模式組合為一個配置，以實現最大的兼容性。</span></span></p>
<p><span><span style="color: #ff0000;"></span></span></p>
<h2><span>Pch 17</span></h2>
<p><span></span></p>
<p>Pch 17 1、Notebook Features and Components</p>
<p>原文:</p>
<p id="N1068B" lang="">Laptops, netbooks, and notebooks are computers that are specifically designed for mobile use, unlike standard desktop workstations that remain stationary. The first laptops were created in the 1970s, but only for very specialized uses. Widespread adoption of laptop computers did not occur until the 1990s, but today they are in use everywhere. Originally, there were distinctions between laptops, notebooks, and netbooks, but in our discussions the terms will be used interchangeably. The distinctions between laptops, notebooks, and netbooks can most often be attributed to marketing, and many of those differences have morphed as the industry continues to evolve. Laptops and notebooks have essentially become a reference to fully equipped mobile computers with hardware and software availability similar to standard desktops using full-instruction set processors (x86 or x64). Most netbooks and tablets generally use embedded processors, such as arm-based RISC or similar. For example, an Alienware R-18 or an HP Elite series laptop runs a full operating system and can support any software designed for a desktop PC. Apple Macbook Pro and Air laptops also run desktop-equivalent, full operating systems. Classifications for a laptop might include desktop replacement, gaming rig, multimedia, or business class. Notebooks, as a subset of laptops, can be further classified as business class, ultrabook, or ultra-portable. Generally, the biggest differences between laptops and notebooks are the physical dimensions and weight.</p>
<p id="N1068E" lang="">While most laptops and notebooks may share similar processor design and software with their desktop counterparts, netbooks and tablets are quite different, because netbooks and tablets use ARM or MIPS RISC processors. In netbooks and tablets expandability is usually limited to an external USB port and micro-SD card reader. Netbook as a name is increasingly being replaced with "Chromebook", which is available from most major computer manufacturers. The OS and software available is limited and specialized for these processors. Current models include the Android and Windows RT operating systems. With the power of cloud computing and software as a service (SaaS), netbooks and tablets are more enticing for users because of their lower cost, lightweight nature, and longer battery life. We will discuss tablets separately as a “mobile device” in another module.</p>
<p id="N10691" lang="">Laptops are regular computers and are fully capable of completing all of the same functions as a desktop workstation. As stated above, the main difference is their portability and size. The main difference is their size: they are much smaller and more compact than a traditional workstation. For this reason, they are limited in their internal component replacement, upgrades, and expansion, and these upgrades are performed differently than in a traditional computer workstation. The main differences between laptops, notebooks, and netbooks are their size and the amount of processing power and capabilities they have. Laptops tend to have more internal storage, video capabilities, and processing power than the smaller netbooks. Because laptops and notebooks are smaller than their desktop counterparts, most laptops compromise on power to allow for mobility and smaller size. The compact size of these devices reduces their ability to provide cooling. Therefore, processing power is often sacrificed to minimize heat and maximize battery life.</p>
<p id="N10694" lang="">In spite of these limitations for most laptops, most all manufacturers offer models with top of the line mobile processors, discrete graphics cards, improved cooling, and a comparable amount of RAM (currently up to 32 GB). With this kind of processing power and speed, laptops users may experience less than average battery life.</p>
<p id="N10697" lang="">The most common type of memory used in laptop computers is the small outline dual in-line memory module (SODIMM). SODIMM is a good option for laptop computers, as it takes up a fraction of the space the dual in-line memory module (DIMM) of a typical desktop computer does.</p>
<p lang=""><img alt="" height="225" src="/images/5ef.jpg" width="225"/></p>
<p lang="">翻譯:</p>
<p id="N1068B" lang=""><span><span style="color: #ff0000;">筆記型電腦，上網本和筆記型電腦是專門為移動用途而設計的計算機</span>，與保持靜止的標準台式機工作站不同。第一台筆記型電腦創建於1970年代，但僅用於非常專業的用途。直到1990年代，筆記型電腦才被廣泛採用，但是今天它們在世界各地都得到了使用。最初，筆記型電腦，筆記型電腦和上網本之間存在區別，但是在我們的討論中，這些術語可以互換使用。筆記型電腦，筆記型電腦和上網本之間的區別通常可以歸因於市場營銷，並且隨著行業的不斷發展，這些差異中的許多差異都在變化。筆記型電腦和筆記型電腦實質上已成為具有硬件和軟件可用性的功能齊全的移動計算機的參考，類似於使用全指令集處理器（x86或x64）的標準台式機。大多數上網本和平板電腦通常使用嵌入式處理器，例如基於Arm的RISC或類似處理器。例如，Alienware R-18或HP Elite系列筆記型電腦運行完整的操作系統，並且可以支持為台式PC設計的任何軟件。Apple Macbook Pro和Air筆記型電腦還運行與台式機等效的完整操作系統。筆記型電腦的分類可能包括台式機更換，遊戲機，多媒體或商務艙。筆記型電腦，作為筆記型電腦的子集，可以進一步分為商務類，超級本或超便攜式。通常，筆記型電腦和筆記型電腦之間的最大區別是物理尺寸和重量。</span></p>
<p id="N1068E" lang=""><span><span>儘管大多數筆記型電腦和筆記型電腦可能與台式機共享相似的處理器設計和軟件，<span style="color: #ff0000;">但上網本和平板電腦卻大不相同，因為上網本和平板電腦使用ARM或MIPS RISC處理器。</span></span><span>在上網本和平板電腦中，可擴展性通常僅限於外部USB端口和micro-SD讀卡器。</span><span>上網本的名稱正越來越多地由大多數主要計算機製造商提供的“ Chromebook”代替。</span><span>可用的OS和軟件受限制並且專門針對這些處理器。</span><span>當前的模型包括Android和Windows RT操作系統。</span><span>借助雲計算和軟件即服務（SaaS）的強大功能，</span><span>上網本和平板電腦具有較低的成本，輕巧的特性和更長的電池壽命，因此對用戶更具吸引力。</span><span>我們將在另一個模塊中將平板電腦作為“移動設備”進行單獨討論。</span></span></p>
<p id="N10691" lang=""><span><span>筆記型電腦是普通計算機，完全能夠完成與台式機工作站相同的所有功能。</span><span>如上所述，主要區別在於它們的可移植性和大小。</span><span>它們的主要區別在於它們的大小：它們比傳統的工作站小得多，而且更緊湊。</span><span>因此，它們在內部組件更換，升級和擴展方面受到限制，並且這些升級的執行方式與傳統計算機工作站不同。</span><span>筆記型電腦，筆記型電腦和上網本之間的主要區別在於它們的大小以及它們具有的處理能力和功能量。</span><span>筆記型電腦往往比較小的上網本具有更多的內部存儲，視頻功能和處理能力。</span><span style="color: #ff0000;">由於筆記型電腦和筆記型電腦的尺寸小於台式機，大多數筆記型電腦會在功耗上有所妥協，以實現移動性和更小的尺寸。這些設備的緊湊尺寸降低了它們提供冷卻的能力。因此，通常犧牲處理能力以最小化熱量並最大化電池壽命。</span></span></p>
<p id="N10694" lang=""><span><span>儘管大多數筆記型電腦都有這些限制，但大多數所有製造商都提供配備頂級移動處理器，獨立顯卡，改進的散熱和相當數量的RAM（當前最高32 GB）的型號。</span><span>通過這種處理能力和速度，筆記型電腦用戶可能會遇到比平均電池壽命短的情況。</span></span></p>
<p id="N10697" lang=""><span style="color: #ff0000;">便攜式計算機中最常用的內存類型是小型雙列直插式內存模塊（SODIMM）。SODIMM對於便攜式計算機來說是一個不錯的選擇，因為它僅佔台式計算機雙列直插式內存模塊（DIMM）的一小部分。</span></p>
<p lang=""><span style="color: #ff0000;"></span></p>
<p lang="">Pch 17、2 Installing and Configuring Laptop Hardware</p>
<p lang="">原文:<span>The first method that was developed to expand a laptop’s capabilities was the Personal Computer Memory Card International Association (PCMCIA) card. These cards were inserted into an expansion slot on the slide of the laptop and fit almost completely inside the casing of the machine. These cards originally came as PC cards (16-bit or 32-bit) or CardBus (32-bit) cards that fit into the associated slot. These cards were hot-swappable, meaning that the card could be ejected or inserted while the computer was still powered on. The idea of these cards was to provide a standard expansion port, similar to a PCI expansion slot on a traditional desktop computer. These cards had 68 pins in a two-row connector. These cards came in three types: type I, type II, and type III. Type I was used to provide additional memory and storage capabilities, but is now obsolete. Type II was used to provide additional input/output connections (like FireWire or USB), a network interface card, modem, or other such external devices/connectivity. Type II cards were only 5 mm thick, so they usually had to include a dongle to convert a flat proprietary connection to a standard connection like FireWire, RJ-45, or RJ-11. Type III was used as an upgraded version of the type II device and was thicker, reaching 10.5 mm in size, reducing or eliminating the need for a dongle. Cardbus, an improvement to the PC card, was a full 32-bit expansion card system and operated very similarly to the PC card. The CardBus was easily identified by looking at the edge of the expansion card, since it contained a golden edge where the connectors were.</span><span><img alt="" height="165" src="/images/wdd.jpg" width="220"/></span></p>
<p lang="">翻譯:<span>擴展筆記記型電腦功能的第一種方法是國際個人計算機存儲卡協會（PCMCIA）卡。</span><span>這些卡已插入筆記型電腦滑軌上的擴展槽中，幾乎完全可以裝入計算機機箱內。</span><span><span style="color: #ff0000;">這些卡最初是作為可插入相關插槽的PC卡（16位或32位）或CardBus（32位）卡來的</span>。</span><span>這些卡是可熱插拔的，這意味著可以在計算機仍打開電源時彈出或插入卡。</span><span><span style="color: #ff0000;">這些卡的想法是提供一個標準擴展端口，類似於傳統台式計算機上的PCI擴展插槽</span>。</span><span>這些卡在兩行連接器中有68個引腳。</span><span>這些卡分為三種類型：I型，II型和III型。</span><span>類型I用於提供其他內存和存儲功能，但現在已過時。</span><span>類型II用於提供其他輸入/輸出連接（如FireWire或USB），網絡接口卡，調製解調器或其他此類外部設備/連接性。</span><span>II型卡只有5毫米厚，因此它們通常必須包含一個加密狗才能將扁平的專有連接轉換為FireWire，RJ-45或RJ-11等標準連接。</span><span>III型用作II型設備的升級版，它更厚，達到10.5毫米，從而減少或消除了對加密狗的需求。</span><span><span style="color: #ff0000;">Cardbus是PC卡的改進</span>，它是一個完整的32位擴展卡系統，其操作與PC卡非常相似。</span><span style="color: #ff0000;">通過查看擴展卡的邊緣，可以輕鬆識別CardBus，因為它包含連接器所在的金色邊緣。</span></p>
<p lang=""><span style="color: #000000;"></span></p>
<p lang=""><span style="color: #000000;">Pch 17 3、</span>Notebook Features</p>
<p lang="">原文:</p>
<p id="N106BD" lang="">By pressing the FN key in combination with the notebook specific keys  the user can access features such as increasing or decreasing screen brightness, toggling Wi-Fi and Bluetooth radios on and off, cycling through external monitor connections, adjusting the speaker volume, and other features depending on the specific laptop. Note in the image above that some of the letter and character keys have numbers written on them. That is because most laptops do not have room for a dedicated number pad and these keys provide that functionality when pressing the FN and NUM LOCK combination. If you are typing and notice numbers on the screen instead of letters, it may be the result of accidentally pressing that key sequence.</p>
<p id="N106C0" lang="">Another special feature of a laptop is the ability to connect an external monitor. Most desktop computers come standard with a single video output, whereas most laptops come with an external video port using HDMI, DisplayPort, DVI, or VGA. This allows you to duplicate, or extend, the internal display to the monitor to create a single continuous “larger” monitor. This is also advantageous when connecting a projector to the external port for presentations.</p>
<p lang="">翻譯:</p>
<p id="N106BD" lang=""><span><span style="color: #ff0000;">通過同時按下FN鍵和筆記本專用鍵，用戶可以使用以下功能</span>：增加或降低屏幕亮度，打開和關閉Wi-Fi和藍牙無線電，通過外部顯示器連接循環，調整揚聲器的音量以及其他功能，具體取決於特定的筆記本電腦。請注意，在上圖中，某些字母和字符鍵上面寫有數字。這是因為大多數筆記本電腦沒有足夠的空間容納專用數字鍵盤，並且在按下FN和NUM LOCK組合鍵時，這些鍵可提供該功能。如果您在屏幕上鍵入並註意數字而不是字母，則可能是由於不小心按下該鍵序列而導致的。</span></p>
<p id="N106C0" lang=""><span><span style="color: #ff0000;">筆記本電腦的另一個特殊功能是可以連接外部顯示器。大多數台式機標配單個視頻輸出，而大多數筆記本電腦均帶有使用HDMI，DisplayPort，DVI或VGA的外部視頻端口。</span><span>這使您可以將內部顯示複製或擴展到監視器，以創建單個連續的“較大”監視器。</span><span>將投影儀連接到外部端口進行演示時，這也是有利的。</span></span></p>
<p lang=""><span><span></span></span></p>
<h1>Word</h1>
</div>
</div>